*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-black: hsl(220, 10%, 11%);
  --clr-yellow: hsl(61, 80%, 65%);
}

.mainBg {
  background: var(--clr-black);
  height: 100vh;
  width: 100%;
}

.navbar {
  background: var(--clr-black);
  position: fixed;

  /* border-bottom: 0.1rem solid black;
  box-shadow: 0 2px 20px 5px rgba(234, 237, 95, 0.5); */
  height: 15vh;
  width: 100%;
  padding: 0.5rem 2rem;
}

.navbarTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;

  font-family: Bebas Neue;
  color: white;
  font-weight: lighter;
  letter-spacing: 4px;
  font-size: 36px;
}

.whiteText {
  font-family: Circular Spotify Tx T;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: white;
}

.yellowText {
  font-family: Circular Spotify Tx T;
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  color: #eaed5f;
}

.normalText {
    font-family: 'Exo', sans-serif;
    
color: white;
font-size: 30px;
}

.yellowButton{
  width: 40%;
  height: 8vh;
  border-radius: 20px;
  background-color: #eaed5f;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  
}
